@if (RecoveryCodes is not null)
{
    <div class="alert alert-warning" role="alert">
        <p>
            <strong>Guarda estes códigos num local seguro.</strong>
        </p>
        <p>
            Se perderes o teu dispositivo e não tiveres os códigos de recuperação, perderás o acesso à tua conta.
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            @for (var row = 0; row < RecoveryCodes.Length; row += 2)
            {
                <code class="recovery-code">@RecoveryCodes[row]</code>
                <text>&nbsp;</text>

                <code class="recovery-code">@RecoveryCodes[row + 1]</code>
        
                <br />
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public string[]? RecoveryCodes { get; set; }
}