@page "/Account/AccessDenied"

<PageTitle>Acesso Negado</PageTitle>

<header>
    <h1 class="text-danger">Acesso Negado</h1>
    <p class="text-danger">Não tens permissão para aceder a este recurso.</p>
</header>