@page "/Account/InvalidPasswordReset"

<PageTitle>Reset de Password Inválido</PageTitle>

<h3>Reset de Password Inválido</h3>
<p>
    O link de reposição de password é inválido ou já expirou. Por favor <a href="Account/ForgotPassword">pede uma nova reposição aqui</a>.
</p>