@page "/Account/LoginWithRecoveryCode"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using GestaoLoja.Data
@using GestaoLoja.Components.Account.Shared

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<LoginWithRecoveryCode> Logger

<PageTitle>Verificação com código de recuperação</PageTitle>

<h1>Verificação com código de recuperação</h1>
<hr />
<StatusMessage Message="@message" />
<p>
    Pediste para entrar com um código de recuperação. Este login não será lembrado até forneceres
    um código de aplicação autenticadora ao entrar ou desativares o 2FA e voltares a entrar.
</p>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="login-with-recovery-code" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="RecoveryCode" />
                <label for="recovery-code" class="form-label">Código de Recuperação</label>
                <ValidationMessage For="() => Input.RecoveryCode" class="text-danger" />
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
        </EditForm>
    </div>
</div>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Garante que o utilizador passou primeiro pelo ecrã de username/password
        user = await SignInManager.GetTwoFactorAuthenticationUserAsync() ??
            throw new InvalidOperationException("Incapaz de carregar o utilizador de autenticação de dois fatores.");
    }

    private async Task OnValidSubmitAsync()
    {
        var recoveryCode = Input.RecoveryCode.Replace(" ", string.Empty);
        var result = await SignInManager.TwoFactorRecoveryCodeSignInAsync(recoveryCode);
        var userId = await UserManager.GetUserIdAsync(user);

        if (result.Succeeded)
        {
            Logger.LogInformation("Utilizador com ID '{UserId}' entrou com um código de recuperação.", userId);
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("Conta de utilizador com ID '{UserId}' bloqueada.", userId);
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            Logger.LogWarning("Código de recuperação inválido introduzido para o utilizador com ID '{UserId}'.", userId);
            message = "Erro: Código de recuperação inválido.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [DataType(DataType.Text)]
        [Display(Name = "Recovery Code")]
        public string RecoveryCode { get; set; } = "";
    }
}