@page "/Account/ResetPasswordConfirmation"

<PageTitle>Confirmação de Reposição de Password</PageTitle>

<h1>Confirmação de Reposição de Password</h1>
<p>
    A tua password foi reposta. Por favor <a href="Account/Login">clica aqui para entrar</a>.
</p>