@page "/Account/Manage/PersonalData"

@using GestaoLoja.Components.Account
@using GestaoLoja.Components.Account.Shared

@inject IdentityUserAccessor UserAccessor

<PageTitle>Dados Pessoais</PageTitle>

<StatusMessage />
<h3>Dados Pessoais</h3>

<div class="row">
    <div class="col-md-6">
        <p>A tua conta contém dados pessoais que nos forneceste. Esta página permite-te descarregar ou apagar esses dados.</p>
        <p>
            <strong>Apagar estes dados irá remover permanentemente a tua conta, e isto não pode ser recuperado.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Descarregar</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Apagar</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}